<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>EAT DA BURGER!!</title>
</head>
<body>
<img src="https://static1.squarespace.com/static/557b7f37e4b085dc8e51fec1/t/5aea7a17aa4a997479f93865/1525316132558/Burger.jpg" width="400px" id="burger_pic">
        {{{body}}}
    
    	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="blue-text text-lighten-4">© 2019 Made by Mark Hays</span>
				<a class="blue-text text-lighten-4 right" href="https://github.com/MarkHays">Check out my work here</a>
			</div>
		</div>
	</footer>
</body>
</html>